body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  padding: 20px;
  height: 200px;
  width: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 4px orange;
  background-color: rgb(255, 238, 206);
}

.container input {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  border: solid 2px orange;
}

.buttons-container {
  display: flex;
}

.buttons-container .right-items {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.container button {
  width: 30px;
  height: 30px;
  margin: 3px 0px;
  border-radius: 5px;
  text-align: center;
  border: solid orange 2px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.numbers button,
.primary {
  background-color: rgb(255, 218, 148);
}

.right-items button,
.secondary {
  background-color: orange;
}
